<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                       http://www.springframework.org/schema/aop
                       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <aop:aspectj-autoproxy />
   <context:spring-configured />
   <bean id= "complexCaculator" class = "com.liangchuan.AOP.AspectJ.ComplexCalculatorImpl"/>
   <bean id = "complexFormatter" class = "com.liangchuan.AOP.AspectJ.ComplexFormater">
       <property name = "pattern" value = "(a+bi)" />
   </bean>
   
   <bean class = "com.liangchuan.AOP.AspectJ.ComplexCachingAspect" factory-method = "aspectOf">
   <property  name = "cache">
      <map>
         <entry key = "2,3">
           <bean class = "com.liangchuan.AOP.AspectJ.Complex">
             <constructor-arg value = "2"/>
             <constructor-arg value = "3"/>
           </bean>
         </entry>
         <entry key = "3,5">
           <bean class = "com.liangchuan.AOP.AspectJ.Complex">
             <constructor-arg value = "3"/>
             <constructor-arg value = "5"/>
           </bean>
         </entry>
      </map>
    </property>
    </bean>
    
    <bean  class = "com.liangchuan.AOP.AspectJ.Complex" scope = "prototype">
       <property name = "formater" ref = "complexFormatter" />
    </bean>
</beans>
